extends boilerplate/skeleton.pug

block body_content
 section 
  h3 Our Services
  p.section-lead= loremIpsum()
  .service-grid
    each value, index in [['Wealth Management', 'ti-bar-chart'], ['Financial Planning','ti-light-bulb'], ['Investment Banking', 'ti-money']]
      - [name, icon] = value
      div.service(class=`service${index}`)
        i(class=icon)
        h4=name
        p= loremIpsum()
        a.cta(href="#") Read more #[span.ti-angle-right]
    
 