doctype
html(lang="en")
 head
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  title= title || ""
  meta(name="description", content=description || "")  
  meta(name="author", content=author || "")  

  <!-- Bootstrap CSS -->
  if offline 
   <link rel="stylesheet" href="css/bootstrap4-compiled.css">
  else
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  if stylesheets
   each css in stylesheets
    link(rel="stylesheet", href=css)
  
  if !nojs
   if offline
    <script src="node=jquery"></script>
    <script src="node=popper.js"></script>
    <script src="js/bootstrap4/bootstrap.min.js"></script>
   else
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  
  if scripts
   each js in scripts
    script(src=js)
  
  if(ie9)
    include ie9_support.html

 body
  if(old_browser_warning)
   include old_browser_warning.html
  if(google_analytics)
   script
    include google_analytics.js
  |
  |
  block body_content
  |
  |